.whatsup {
	margin: 5px;
	border-radius: 5px;
	background-color: var(--bg-outer);
	padding: 64px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.whatsup > div {
	height: clamp(128px, 100%, 1024px);
}